<a href="https://colab.research.google.com/github/41815062/python/blob/main/py_aban_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#CH1. 파이썬 문법
## 자료형
**숫자형**  
  
* 정수 : 123, 456, 0. -30  
* 실수 : 12.345. -987,65 0.7e6  
* 8진수 : 0o765, 0o123
* 16진수 : 0x0D, 0x0A, 0xFF  

**변수**  
* 문자 또는 밑줄로 시작(_kim, alpha)  
* 대소문자 구분(sum, Sum, SUM)  
* 영문자, 숫자, 밑줄(A~z, 0-9, _)  
 ex) sun_9, Alpha, s9n)  
* 파이썬 키워드(print...)  

**표기법**  
+ 카멜(낙타) : myNAME  
+ 스네이크(뱀) : my_name  
+ 파스칼 : MyName

In [ ]:
a = 10
b = 20 
f = "10"
c = a+b
print(a,b,c,f)

10 20 30 10

In [ ]:
a = 10
b = 20
c = "10"
d = "20"

print(a+b)
print(a,b)
print(type(a))
print(type(b))
print (a+b)
print(c+d)

30
10 20
<class 'int'>
<class 'int'>
30
1020

In [ ]:
# 나눗셈
a = 10
b = 3
c = a / b
d = a // b # 몫
e = a % b # 나머지 ex(홀짝 LED 깜빡임)
print(c,d,e)

3.3333333333333335 3 1

In [ ]:
# 곱셈
a = 10
b = 3
c = a * b # 곱하기
d = a**b # 제곱
print(c, d)

30 1000

#### 문자열
1. 큰따옴표 : "Woo Jin"
2. 작은따옴표 : 'Woo Jin'
3. 큰 따옴표 3개 : """대한민국"""
4. 작은 따옴표 3개 : '''대한민국'''
5. "동해물과 백두산이 마르고 닳도록 kim's\"

In [ ]:
# 변수
myName = "Lee Woo Jin"
my_name = '이우진'
_my_name = "korea"
MYNAME = "코리아"
my2name = "kikiki"
# 2myname = "숫자먼저"
# 시험 실수 하는 것 my-name = "마이너스"
# my name = "스페이스"
myName1 = 1234
myName2 = "1234"
print(type(myName1))
print(type(myName2))

<class 'int'>
<class 'str'>

#### 변수할당

In [ ]:
a=b=c= "브라보콘"
print(a)
print(b)
print(c)

브라보콘
브라보콘
브라보콘

In [ ]:
x,y,z = "딸기", "포도" , "바나나"
print(x,y,z)

딸기 포도 바나나

In [ ]:
fruits=["누가바","쌍쌍바", "보석바"]
x,y,z = fruits 
print(x)
print(y)
print(z)

누가바
쌍쌍바
보석바

In [ ]:
x = "Life"
y = "is"
z = "beatiful!"
print(x,y,z)
print(x+y+z)

Life is beatiful!
Lifeisbeatiful!

In [ ]:
a = 1
b = 2
c = 3
print(a+b+c)
print(a,b,c)

6
1 2 3

In [ ]:
a = '1'
b = '2'
c = '3'
print(a+b+c)
print(a,b,c)

123
1 2 3

데이터 바꾸기

In [ ]:
 a = 1; b = 2
 a, b = b , a
print(a,b)

2 1

In [ ]:
b = 2; c = 3
#c = (b=b+c) //에러발생

In [ ]:
a=1;b=1;c=3
f = a + b + \  # \ 줄바꿈
c
print(f)

5

In [ ]:
# len()

a = '123456'
b = [2,3,4,5]   # 숫자는 배열로 잡아줘야 길이나타내기 가능
print(len(a))
print(len(b))

6
4

#### 계산기

In [ ]:
a = 100
b = 200
result=a+b
print(a,'+',b,'=',result)
result = a - b
print(a,'-',b,'=',result)
result=a/b
print(a,'/',b,'=',result)
result = a * b
print(a,'*',b,'=',result)

100 + 200 = 300
100 - 200 = -100
100 / 200 = 0.5
100 * 200 = 20000

In [ ]:
a = "1234"
b = 5678
c = int(a)+ b # 형 변환
print(c)

6912

In [ ]:
# 계산기 2
num1 = int(input("숫자입력1:  "))
num2 = int(input("숫자입력2:  "))
print(type(num1))

result1 = num1 + num2
result2 = num1 - num2
result3 = num1 * num2
result4 = num1 / num2
print(result1,result2,result3,result4)
result=num1+num2
print(num1,'+',num2,'=',result)
result =num1-num2
print(num1,'-',num2,'=',result)
result=num1/num2
print(num1,'/',num2,'=',result)
result = num1 * num2
print(num1,'*',num2,'=',result)

숫자입력1:  10
숫자입력2:  5
<class 'int'>
15 5 50 2.0
10 + 5 = 15
10 - 5 = 5
10 / 5 = 2.0
10 * 5 = 50

In [ ]:
# 자기이름, 전화번호, 택배(g)*100
# 결과값 = g * 100원 = 00원입니다.
a = input("이름입력:  ")
b = input("전화번호입력:  ")
c = int(input("택배g입력:  "))
d = c*100
print(a, b, c)
print('결과값 =',d,'원 입니다')

이름입력:  이우진
전화번호입력:  01037401443
택배g입력:  10
이우진 01037401443 10
결과값 = 1000 원 입니다

# CH2. 서식 출력 print()

In [ ]:
print("%d" % 123)
print("%5d" % 123)
print("%05d" % 123)

print("%f" % 123.45)
print("%7.1f" % 123.45)
print("%7.3f" % 123.45)

print("%c" % "1")
print("%s" % "가나다라")
print("%6s" % "가나다라")
print("%6s" % "abcd")

123
  123
00123
123.450000
  123.5
123.450
1
가나다라
  가나다라
  abcd

#### 순서 지정 기능 : format

In [ ]:
print("{0:d} {1:5d} {2:05d}".format(123,456,789))
print("{2:d} {1:5d} {0:05d}".format(123,456,789))

123   456 00789
789   456 00123

#### 서식 출력

In [ ]:
print("\n 줄바꿈 명령 \n연습 입니다.")

 줄바꿈 명령
연습 입니다.

In [ ]:
print("\t 탭키 명령 \t 연습입니다.")

	 탭키 명령 	 연습입니다.

In [ ]:
print("따옴표 글자가 \"강조\"되는 효과1")
print("따옴표 글자가 \'강조\'되는 효과2")
print("역슬래시 3개를 출력하려면 \\\\\\ 6개")
print(r"\n \t \" \\ \' @를 그대로 출력")

따옴표 글자가 "강조"되는 효과1
따옴표 글자가 '강조'되는 효과2
역슬래시 3개를 출력하려면 \\\ 6개
\n \t \" \\ \' @를 그대로 출력

# 관계 연산자

In [ ]:
a,b=10,20
print(a==b,a!=b,a>=b,a<=b,a>b,a<b)

False True False True False True

#### 논리 연산자 and, or, not

In [ ]:
a= 95
print((a>100) and (a<200)) # 100<a<200
print((a<100) or (a>200))  # a<100, a>200
print(not(a==100))         # a<100, a>100

False
True
True

In [ ]:
if(2):
   print("참이면 실행되어 보임")
if(0):
   print("거짓이면 안보임")

참이면 실행되어 보임

#### 퀴즈2 // 몫 % 나머지 int(input("입력")) 지폐 금액입력 후 동전으로 교환할 때(500원, 100원, 50원, 10원)
money, c500, c100, c50, c10 받은돈 : ?원 500원 : ?개 100원 : ?개 50원 : ?개 10원 : ?개 나머지 : ?원

In [ ]:
myName=input("이름  :")
money= int(input("MONEY"))

c500=money//500   #몫
money%=500        #money=money%500
c100=money//100
money%=100
c50=money//50
money%=50
c10=money//10
money%=10
print("이름: ", myName)
print("500원 동전 : %d개" % c500)
print("100원 동전 : %d개" % c100)
print("50원 동전  : %d개" % c50)
print("10원 동전  : %d개" % c10)
print("나머지   :  %d" % money)

이름  :이우진
MONEY7777
이름:  이우진
500원 동전 : 15개
100원 동전 : 2개
50원 동전  : 1개
10원 동전  : 2개
나머지   :  7

In [ ]:
a=50
if(a<100):
  print("100보다 작으면 참")
  print("거짓이면 이 문장은 보이지 않음")
print("프로그램 끝")

100보다 작으면 참
거짓이면 이 문장은 보이지 않음
프로그램 끝

In [2]:
a=200
if(a<100):
  print("참 : 100보다 작음")
else :
  print("거짓 : 조건보다 크면")
print("프로그램")

거짓 : 조건보다 크면
프로그램 끝

In [4]:
#홀짝 구분
a=int(input("숫자입력"))
if(a%2==0):
  print("짝수 입니다.")
else :
  print("홀수 입니다.")

숫자입력13
홀수 입니다.

In [10]:
a = int(input("숫자입력:"))
if(a>50):
  if(a<100):
    print("50<a<100")
  else:
    print("a>100")
else :
  if(a>25):
    print("25<a<50")
  else:
    print("a<25")
print("프로그램 끝")

숫자입력:65
50<a<100
프로그램 끝

In [12]:
fruit = ['사과','배','샤인머스캣','바나나']
fruit.append('망고')
if'망고' in fruit :
  print("망고가 있습니다.")

print(fruit)

망고가 있습니다.
['사과', '배', '샤인머스캣', '바나나', '망고']

In [14]:

for i in range(1,3,1) : # 시작값,끝값+1,증가값
  print("%d 안녕하세요." % i)
print("환영합니다.^^*")

1 안녕하세요.
2 안녕하세요.
환영합니다.^^*

In [17]:
import random
num =[]
for i in range(0,6) :
  num.append(random.randrange(1,46))
print("생성 리스트", num)

생성 리스트 [12, 43, 43, 24, 2, 30]

In [22]:
for i in range(1,9,1):
  print("%d" % i, end='\t')
  
for j in range(1,9,1):
  print("%d" % j, end='\t')

1	2	3	4	5	6	7	8	1	2	3	4	5	6	7	8

In [24]:
sum=0
for i in range(1,11,1):
  sum=sum+i
print("1부터 10 까지 합:%d" %sum)

1부터 10 까지 합:55

In [25]:
sum,num=0,0
num=int(input("숫자를 입력해주세요:"))
for i in range(1,num+1,1):
  sum = sum+i
print("1~n까지의 합 : %d" % sum)

숫자를 입력해주세요:30
1~n까지의 합 : 465

In [27]:
i,j=2,0
for i in range(2,10):
 for j in range(1,10,1):
  
  print("%dx%d = %2d" % (i,j,i*j))

2x1 =  2
2x2 =  4
2x3 =  6
2x4 =  8
2x5 = 10
2x6 = 12
2x7 = 14
2x8 = 16
2x9 = 18

In [53]:
i,j,k=0,0,0
for j in range(1,10,1):
 
  

  for i in range(2,6,1):
    print("%dx%d = %2d"%(i,j,i*j),end='\t')
  print("")
print("\n")
for j in range(1,10,1):
 
  

  for i in range(6,10,1):
    print("%dx%d = %2d"%(i,j,i*j),end='\t')


  print("")

2x1 =  2	3x1 =  3	4x1 =  4	5x1 =  5
2x2 =  4	3x2 =  6	4x2 =  8	5x2 = 10
2x3 =  6	3x3 =  9	4x3 = 12	5x3 = 15
2x4 =  8	3x4 = 12	4x4 = 16	5x4 = 20
2x5 = 10	3x5 = 15	4x5 = 20	5x5 = 25
2x6 = 12	3x6 = 18	4x6 = 24	5x6 = 30
2x7 = 14	3x7 = 21	4x7 = 28	5x7 = 35
2x8 = 16	3x8 = 24	4x8 = 32	5x8 = 40
2x9 = 18	3x9 = 27	4x9 = 36	5x9 = 45


6x1 =  6	7x1 =  7	8x1 =  8	9x1 =  9
6x2 = 12	7x2 = 14	8x2 = 16	9x2 = 18
6x3 = 18	7x3 = 21	8x3 = 24	9x3 = 27
6x4 = 24	7x4 = 28	8x4 = 32	9x4 = 36
6x5 = 30	7x5 = 35	8x5 = 40	9x5 = 45
6x6 = 36	7x6 = 42	8x6 = 48	9x6 = 54
6x7 = 42	7x7 = 49	8x7 = 56	9x7 = 63
6x8 = 48	7x8 = 56	8x8 = 64	9x8 = 72
6x9 = 54	7x9 = 63	8x9 = 72	9x9 = 81